@for $i from 2 through 11 {
	.span#{$i} {
		$x : 12/$i;
        width: ((100-$x+1)/$x)*1%;
        float:left;
	}
}

.span12 {
    width:100%;
    float:left;
}
.rel {
    position:relative;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.abs {
    position: absolute;
}

.col {
    margin-left:1%;
}

img {
    max-width:100%;
    max-height:100%;
}

.vertical-align {
    @extend .rel;
    top:50%;
    transform:translateY(-50%);
}

.title {
    margin-bottom:20px;
    font-size:48px;
}

.inline{
    display:inline-block;
}
.overflow-hide {
    overflow: hidden;
}
.content-section {
    @extend .rel;
    height:50vh;
    padding:0 17px;
    //margin-bottom:2em;
}

.cta {
    @extend .inline;
    margin:1em 0;
    border:1px solid black;
    box-sizing: content-box;
    width:165px;
    a {
        padding:8px 12px;
        display:block;
    }
    &:hover {
        background-color:#00bfe7;
        transition: all .075s linear;

        a {
            color:white;
            text-decoration: none;
            transition: all .075s linear;
        }
    }
}

.wrapper {
    max-width:980px;
    margin:0 auto;
    height:100%;
    overflow: hidden;
}

.navBar {
    padding:8px 14px;
    max-height:8vh;
    @extend .rel;
    z-index: 2;
    .logo-container {
        @extend .inline;
        width:230px;
        img {
            width:50px;
            margin-right:10px;
        }
        p {
            @extend .inline;
            font-size:12px;
        }
    }
    .navItems {
        @extend .inline;
        a {
            padding:0 1em;
            text-decoration: underline;
            &:last-child {
                border:none;
            }
            color:#58585B;
            border-right:1px solid #58585B;
        }
    }
}


.noodle-search, .noodle-markets, .noodle-partners, .noodle-pros, .noodle-companies {
    &.noodle-search, &.noodle-markets {
        background-color:#F6F6F6;
    }
    &.noodle-companies {
        max-height:60vh;
        .copy {
            text-align: left;
            p{
                margin-bottom:15px;
            }
        }
    }
    @extend .content-section;
    .wrapper {
        padding:2% 0;
        .image-col {
            @extend .center;
            height:100%;
            overflow: hidden;
            .vertical-align {
                height:100%;
                img {
                    max-height:100%;
                    object-fit: contain;
                }
            }
        }

        .copy {
            padding:.5em 1em;
            height:100%;
            @extend .rel;
            @extend .center;
            img {
                width:50%;
                margin-bottom:1.5em;
            }
        }
    }
}

.footer {
    background-color:rgb(248,248,248);
    padding:1em 0;
    .navItems {
        @extend .inline;
        a {
            padding:0 1em;
            text-decoration: underline;
            &:last-child {
                border:none;
            }
            border-right:1px solid #58585B;
            color:#58585B
        }
        padding-bottom:.5em
    }
    .copyright {
        p {
            font-weight:bold;
        }
    }
}

@media screen and (max-width:780px){
    .span6, .span8 {
        width:100%;
    }
    .title {
        text-align: center;
        font-size:42px;
    }
    .vertical-align {
        top:0;
        transform: translateY(0);
    }
    .copy {
        p {
            font-size:14px;
        }
        img {
            width:175px!important;
        }
    }
    .content-section {
        height:auto;
    }
    .image-col {
        img {
            display: none;
        }
    }
    .building-block {
        display: none;
    }
    #pros, #companies{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }
    #markets, #search {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
    }
    #partners {
        background-image: url('../img/chairs.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 600% center;
    }
    #pros {
        background-image:url('../img/brain.jpg');
    }
    #companies {
        background-image: url('../img/blue-block.png')
    }
    #markets {
        background-image: url('../img/microscope.jpg');
    }
    #search {
        background-image: url('../img/globe-gray.jpg');
    }
    #partners, #pros, #companies {
        &:before {
            content: '';
            background-color: rgba(255,255,255,.875);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    #search, #markets{
        &:before {
            content: '';
            background-color: rgba(248,248,248,.825);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .navBar {
        .navItems {
            display: none;
        }
    }
}


/*FOR MOBILE VIEW TRY THIS BEFORE + ADD APPROPRIATE BG IMAGE
content: '';
background-color: rgba(248,248,248,.875);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
*/